<div class="personalBio">
  <div class="headshot">
    <img src="/images/Head_shot_2016.png" height="281">
  </div>
  <div class="name">
    <h1>- Christopher Johnson -</h1>
  </div>
  <div class="story">
    <span>Autodidact and lifelong learner</span><br>
    <span>Passionate about the educational potential of technology</span><br>
    <span>More bullets or a story...</span>
  </div>
</div>