<div class="school">
  <img class="school_image" src="/images/educators/coloradoCollege.jpg">

  <div class="school_title">
    <h2>The Colorado College</h2>
  </div>
  <div class="school_description">add description of CC here</div>
  <div class="major">
    <h3>Biochemistry</h3>
  </div>
  
</div>