<div class="school">
  <img class="school_image" id="CC_logo" src="/images/educators/coloradoCollege.jpg">

  <div class="school_title">
    <h2>The Colorado College</h2>
  </div>
  <div class="school_description">
    <p>The Colorado College mission statement - "At Colorado College our goal is to provide the finest liberal arts education in the country. Drawing upon the adventurous spirit of the Rocky Mountain West, we challenge students, one course at a time, to develop those habits of intellect and imagination that will prepare them for learning and leadership throughout their lives."</p>
    <p>Colorado College was a wonderful educational experience which uses the "block plan", introducing one class at a time and covering a semester's worth of material in three and a half weeks. CC prepared me to absorb tons of information in a short timespan and put that information to use immediatley.</p>
  </div>
  <div class="major">
    <h3>Biochemistry Major</h3>
  </div>
  
</div>