<div class="school">
  <img class="school_image" src="/images/educators/devbootcamp.png">

  <div class="school_title">
    <h2>Dev Bootcamp</h2>
  </div>
  <div class="school_description">
    <p>Dev Bootcamp is an 18 week immersive coding-camp. It is the first of it's kind and has perfected the formula for it's special-sauce: a blend of technical and interpersonal skills which make for coders who are great coworkers. While there were lectures and lessons the majority of my time at DBC was spent completing coding challenges and projects which allowed me to finish the program with applicable experience under my belt; Experience working individually, in pairs and in small teams with fresh concepts, handling technical issues and heading off interpersonal ones.</p>
  </div>
  
</div>