<div class="school">
  <img class="school_image" src="/images/educators/devbootcamp.png">

  <div class="school_title">
    <h2>Dev Bootcamp</h2>
  </div>
  <div class="school_description">add description of DBC here</div>
  
</div>