<div class="project">
  <div class="project_image_container">
    <img class="project_image" src="/images/mathio/invasion.png">
    <img class="project_image" src="/images/mathio/results.png">
  </div>

  <div class="project_summary">
    <h2>Mathio Party</h2>
    <p>Developed in a team of 4 using Ruby on Rails, Phaser, D3 and Heroku. Mathio Party is a collection of math based mini-games which records user-performance and uses data-visualization to highlight where the user's math skills are weakest. My contributions centered around the front-end design, database-relationships and data-visualization components of the website. I also designed and coded one of the mini-games. words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words</p>
  </div>
  <div class="project_techstack"></div>
</div>
<hr>