<div class="project">
  <div class="project_image_container">
    <img class="project_image" src="/images/mathio/invasion.png">
    <img class="project_image" src="/images/mathio/results.png">
  </div>

  <div class="project_summary">
    <h2><a href="http://mathio-party.herokuapp.com/">Mathio Party</a></h2>
    <p>Developed in a team of 4, Mathio Party is a collection of competitive math based mini-games. User performance is tracked and analyzed for both bragging rights and to help pinpoint which math skills could use practice.</p>
    <p> With a Ruby on Rails backend, Phaser game-engine, D3.js for data-visualization and Heroku for deployment, this project showcases skills learned from Dev Bootcamp as well as those picked up on the fly during development.</p>
    <p>My personal contributions centered around the front-end design, database-relationships and data-visualization components of the website. I also designed and coded one of the mini-games.</p>
  </div>
  <div class="project_techstack"></div>
</div>
<hr>