<div class="project">
  <div class="project_image_container">
    <img class="project_image" id="action_1" src="/images/mindMakers/mindMakers.png">
  </div>

  <div class="project_summary">
    <h2><a href="https://mindmakersproject.org/">Mind Makers</a></h2>
    <p>Mind Makers is a nonprofit group with the aim of bringing STEM education and workshops to underserved communities.</p>
    <p>I am one of many contributors to this website.</p>
  </div>
</div>
<hr>