<div class="project">
  <div class="project_image_container">
    <img class="project_image" src="/images/radioactive/action1.png">
    <img class="project_image" src="/images/radioactive/action2.png">
    <img class="project_image" src="/images/radioactive/action3.png">
    <img class="project_image" src="/images/radioactive/godfather1.png">
    <img class="project_image" src="/images/radioactive/godfather2.png">
  </div>

  <div class="project_summary">
    <h2>Radioactive Tomatoes</h2>
    <p>Completed in one week in a 4 person team, Radioactive Tomatoes is a student project in which a simulated client asked us to make a movie-review website while catering to specific requests about it's design. Built with Ruby on Rails, Bootstrap, ActiveRecord, the giphy API and the OMDB API. </p>
  </div>
  <div class="project_techstack"></div>
</div>