<div class="project">
  <div class="project_image_container">
    <img class="project_image" id="action_1" src="/images/radioactive/action1.png">
    <img class="project_image" id="action_2" src="/images/radioactive/action2.png">
    <img class="project_image" id="godfather_1" src="/images/radioactive/godfather1.png">
    <img class="project_image" src="/images/radioactive/godfather2.png">
  </div>

  <div class="project_summary">
    <h2>Radioactive Tomatoes</h2>
    <p>Radioactive Tomatoes is a student project developed over one week in a 4 person team. In a simulated meeting with a client we were asked, in thouroughly non-technical jargon, to develop a movie-review website.</p>
    <p>Users can view any movie's information and reviews but must create an account and be logged in to submit reviews of their own.</p>
    <p>Features Ruby on Rails, Bootstrap, ActiveRecord, the giphy API and the OMDB API. </p>
  </div>
  <div class="project_techstack"></div>
</div>