<div class="project">
  <div class="project_image_container">
    <img class="project_image" src="/images/veggiemon/veggiemon.png">
    <img class="project_image" src="/images/veggiemon/bluebeary.png">
  </div>

  <div class="project_summary">
    <h2>Veggiemon Grow</h2>
    <p>Second place entry at the "Food Hackathon + forum will unite for Kids Health", Veggiemon Grow was initially developed over 2 days as a mobile first web-app designed to help children develop associations between healthy lifestyle choices and positive experiences. Features a GPS-enabled map to nearby parks and farmers-markets using the GoogleMaps API and an inventory of a users collected items and veggiemon. The phone's camera is used to scan QR codes on food packaging to determine how healthy the food item is and what items or veggiemon can be found in it.  I was responsible for the deployment,  database and routing in this project.</p>
  </div>
  <div class="project_techstack"></div>
</div>
<hr>