<div class="project">
  <div class="project_image_container">
    <img class="project_image" src="/images/veggiemon/veggiemon.png">
    <img class="project_image" src="/images/veggiemon/brocodile.png">
  </div>

  <div class="project_summary">
    <h2><a href="http://veggiemongrow2016.herokuapp.com/">Veggiemon Grow</a></h2>
    <p>Second place entry at the "Food Hackathon + forum will unite for Kids Health". Veggiemon Grow, developed over the 2 day event as a mobile first web-app was designed to help children associate positive experiences with healthy nutritional choices.</p>
    <br>
    <p>Veggiemon Grow features a GPS-enabled map which can be used to find nearby parks and farmers-markets. When food packaging is scanned by the phone's camera users can collect items and possibly find veggiemon. The items are stored in an inventory along with veggiemon who are successfully won over with healthy snacks or by answering nutrition-themed trivia. QR codes would be the preferred method to determine which food item is being scanned as well as which items or veggiemon can be found in it. This project was left in an incomplete state as a benchmark of what our team of four could accomplish over a single weekend.</p>
  </div>
  <div class="project_techstack"></div>
</div>
<hr>