<div class="projectGallery">
  <div class="sectionHeading">
    <h1>- My Projects -</h1>
  </div>
</div>



<div id="comment">
  <p>come up with a story to go under your name</p>
  <p>Then a grid of project summaries+pics from partials</p>
  <p>maybe use a db to store and access this info but its not necessary at the start</p>
  <p>finish with a slick html version of your resume and a link to download it</p>
  <p>have the links in the nav-bar scroll to the requested section of the page</p>
  <p>include a contact-me section with your linkedin profile at the bottom</p>
</div>