<div class="projectGallery" id="projects">
  <div class="sectionHeading">
    <h1>- My Projects -</h1>
  </div>
  <%= render 'partials/mathio'%>
  <%= render 'partials/radioactive'%>
  <%= render 'partials/veggiemon'%>
</div>