/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  height: 2000px;
  margin: 0px;
 }

.navBar {
  color: white;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  margin-bottom: 2px;
  position: fixed;
  width: 100%;
}

.navBar > h2 {
  display: inline-block;
  font-family: 'Alegreya Sans SC';font-size: 22px;
}

a {
  background-color: #636363;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

a:visited {
  color: white;
}

a:hover {
  color: #522723;
}

.personalBio {
  padding-top: 15%;
  padding-bottom: 13%;
  margin: auto;
  border-bottom: 2px solid #889DB3;
  background-image: url(http://media.istockphoto.com/photos/old-oak-background-picture-id490078430?k=6&m=490078430&s=170667a&w=0&h=btWp4TAjljy5nUgd0LtJ9ghAu1aJGuatTrfPqnzaiiA=);
  background-size: 100% 100%;
}

.headshot {
  width: 150px;
  margin: auto;
}

.headshot > img {
  border-radius: 50%;
  width: 100%;
  height: 150px;
}

.sectionHeading, .story {
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
}

.employer, .school {
  color: white;
  display: inline-block;
  width: 45%;
  margin: 2%;
  vertical-align: top;
}

.employer_image, .school_image {
  display: block;
  width: 300px;
  margin: 0 auto;
}

#maxPlanckLogo, .school_image {
  border: 20px solid white;
  width:260px;
  height: 80px;
}

#CC_logo {
  height:55px;
  border-top: 32px solid white;
  border-bottom: 32px solid white;
}

.employer_title, .employer_description, .school_title, .school_description, .major {
  margin: auto;
  text-align: center;
}

.position_title, .position_description {
  width: 70%;
  margin: auto;
}
