// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment {
  padding-top: 100px;
  color: white;
}

.project {
  font-family: 'Alegreya Sans SC';font-size: 22px;
  color: white;
}

.project > div {
  display: inline-block;
}

.project_image_container {
  width: 25%;
  padding-left: 2em;
  padding-top: 1em;
}

.project_image {
  width: 100%;
  height: 25%;
  padding: 1em;
  padding-bottom: 0;
}

.project_summary {
  width: 60%;
  padding-right: 2em;
  padding-top: 0;
  margin-left: 2em;
  vertical-align: top;
}